.contents.row
  .container
    = form_with url: '/tweets' do |f|
      %h3
        投稿する
      = f.label :image, class: 'container__mask__image' do
        = fa_icon 'picture-o', class: 'icon'
        = f.file_field :image, class: 'hidden'
      = f.text_field :text, class: 'form__message', placeholder: 'type a message'
      = f.submit 'Send', class: 'form__submit'
